
<div class="container mt-4">
  <div class="card bg-light text-dark shadow">
    <div class="card-body">
      <h5 class="card-title"><%= @question %></h5>
      <p class="card-text">-You</p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card bg-light text-dark shadow">
    <div class="card-body">
      <h5 class="card-title"><%= @answer %></h5>
      <p class="card-text">-Stupid Coach</p>
    </div>
  </div>
</div>