<div class="p-4 w-50">
  <div class="py-4">
    <h1>Stupid Coach</h1>
    <h3>Preguntale algo!</h3>
  </div>
  <form action="/answer" data-turbo="false">
    <div class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-success">
    </div>
  </form>

<div>
